<!DOCTYPE html>
<html>
<title>Keystroke Dynamics</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="UTF-8">
  
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  
  <meta name="viewport" content="width=device-width, user-scalable=no">

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='addstyle.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">


<body style="background-color:rgb(200,200,200)">

<div class="w3-container w3-blue-grey">
  <div class="w3-btn-group w3-display-topright">
    <a class="w3-btn w3-dark-grey " href="#">ENG</a>
    <a class="w3-btn w3-disable " href="#">RU</a>
    <a class="w3-btn w3-disable " href="#">UA</a>
  </div>
  <h1>Keystroke Dynamics</h1>
</div>

<div class="w3-container">
  <ul class="w3-navbar w3-dark-grey">
    {% for item in nav.top %}
    <li class="{{ 'active' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
    {% endfor %}
  </ul>

<div id="About Us" class="w3-container tab">
  <h2>Coming soon...</h2>
</div>
</div>

<div class="display">
    <div class="wrap" aria-live="polite" aria-atomic="true">
      <p class="keycode-display"></p>
      <p class="text-display">press any key to get the JavaScript event keycode</p>
    </div>
  </div>


<footer class="w3-container w3-blue-grey w3-center">
  <p></p>
</footer>

<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);
js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</body>

</body>
</html>
